body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Lora', serif;
}

h1 {
    color: #fde047;
    font-size: 1rem;
}

h2 {
    color: #e9e9ea;
}

h3 {
    color: #d3d3d3;
    font-size: 0.8rem;   
}

p {
    color: #e9e9ea;
    font-size: 0.85rem;
}