.custom-checkbox-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custom-checkbox-container input[type='checkbox'] {
    position: absolute;
    align-self: center;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border-radius: 2px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .custom-checkbox-container:hover input[type='checkbox'] ~ .checkmark {
    background-color: #fde047;
  }
  
  /* When the checkbox is checked, add a blue background */
  .custom-checkbox-container input[type='checkbox']:checked ~ .checkmark {
    background-color: #6f6e6c;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox-container input[type='checkbox']:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fde047;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  button:focus {
    outline: none;
  }